{% extends "user/home_layout.html"%}
{%  block partner%}
{% endblock partner%}
{% block featured%}
{% endblock featured%}
{% block customcss%}
    style="background-color:white";
{% endblock%}
{%block content%}
<div class="content px-3 py-3 bg-white">
    <div class="alert alet-info" id="display"></div>
<form id="myform">
    <div class="row">
        <div class="mb-1">
            {{ cform.email.label}}
            {{ cform.email(class_="form-control border-success")}}
        </div>
        <div  class="mb-3">
            
        {{ cform.csrf_token}} 
        {{ cform.btnsubmit(class_="btn btn-danger noround",type="button")}}
        </div>

    </div>
</form>
</div>
{%endblock%}
{%block customjs%}
<script type="text/javascript">
    $(document).ready(function(){
        $('#btnsubmit').click(function(event){
            event.preventDefault()
            //name attribute must be on the inputs, a form must exists and submit-table
            var myform = document.getElementById('myform')
            var data = $('#myform').serialize()
            //var data = new FormData(myform)//just like seralize(),picks all form data atonce, can pick files too
            $.ajax({
                url:"/ajaxopt/",
                type:"post",
                data:data,
                error:function(errmsg){
                    console.log(errmsg)
                },
                success:function(serverRsp){
                    $('#display').html(serverRsp).addClass('alert alert-info')
                },
                complete:function(){
                    $('#btnsubmit').val('Subscribe')
                },
                beforeSend:function(){
                    $('#btnsubmit').val('Please wait... ')
                }
            }) 
        })
        
    })

</script>
{%endblock%}