{% extends "user/home_layout.html"%}
{% block content%}
<div class="content">
    <select name="state" id="state" class="form-control">
        <option value="">please select
        </option>
            {% for s in states%}
        <option value="{{s.state_id}}">
            {{s.state_name}}
        </option>
        {% endfor%}
    </select>
    <div id="mylga" class="form-control "></div>
</div>

{% endblock%}
{% block customjs%}
<script type="text/javascript">
$(document).ready(function(){
    $("#state").change(function(){
        var selected_state=$(this).val()
        var url="/lga/"+selected_state
        $('#mylga').load(url)
    })
})
</script>

{% endblock%}