{% extends "admin/admin_layout.html"%}
{%block main%}
                <main>
                   

  <div class="container-fluid px-4">
    {{cats}}
                        <h1 class="mt-4">Add Books</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{{url_for('admin_dashboard')}}"></a>Dashboard</li>
                              <li class="breadcrumb-item active">Add Book</li>
                        </ol>
                      <div class="row">
                          <div class="col">
                              
                               <form action="" method="Post" enctype="multipart/form-data">
                                <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
          <div class="mb-3">
            <label for="title" class="form-label">Book Title</label>
            <input type="text" class="form-control" id="title" name="title">
             
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Category</label>
            
            <select type="text" class="form-control" id="category" name="category">
                <option>Please select</option>
                {% for c in cats%}
                <option value="{{c.cat_id}}">{{c.cat_name}}</option>
                {% endfor %}
            </select>
          </div>
           
          <fieldset class="mb-3">
            <legend>Status</legend>
            <div class="form-check">
              <input type="radio" name="status"  class="form-check-input" id="exampleRadio1" name="publish" value="1" {%if deets.book_status=="0"%}checked="checked"{%endif%}>
              <label class="form-check-label" for="exampleRadio1">Publish</label>
            </div>
            <div class="mb-3 form-check">
              <input type="radio" name="status" class="form-check-input" id="exampleRadio2" value="0" {%if deets.book_status=="0"%}checked="checked"{%endif%}>
              <label class="form-check-label" for="exampleRadio2">Do Not Publish</label>
            </div>
          </fieldset>--
          <div class="mb-3">
            <label class="form-label" for="customFile">Upload Cover</label>
            <input type="file" class="form-control" id="customFile" name="cover">
          </div>
           <div class="mb-3">
            <label class="form-label" for="customFile">Description</label>
         <textarea name="description" id="description" class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="yearpub">Year Published</label>
            <input class="form-control" name="yearpub" id="yearpub">
          </div>
          
         
          <button type="submit" class="btn btn-primary">Add Book!</button>
        </form>


                          </div>
                      </div>
                        
                    </div>


                </main>
{% endblock main%}